@page "/site"

@using System.Globalization

<div class="row">
    <h1>Suministros Nerja</h1>
    <div class="row" > @* style="background-color:#958462;">*@
        <text>Suministros Nerja es la tienda online de Suministros Nerja. Somos especialistas en menaje, uniformes, mobiliario, maquinaria etc. Contamos con más de 1000 productos a tu servicio y cada día ampliamos un poco más el surtido de productos que ofrecemos para darte un mejor servicio...</text>
    </div>
    <div class="column"> @* style="background-color:#FFB695;">*@
        <p>Suministros Nerja se erige como uno de los principales Proveedores de Hostelería, de la Comarca de la Axarquía. Posiblemente ostenta la exposición con mayor variedad, la más surtida y en definitiva la más dotada y completa de la provincia de Málaga. Su muy buena  relación calidad - precio es su mejor presentación.</p>
        <p>En su tienda física, Suministros Nerja exhibe Maquinaria, Mobiliario, Menaje, Cristalería, Vajilla, Cubertería, Cuchillería, Limpieza, Un solo uso, así como gran cantidad de Complementos y Artículos varios para Hostelería.</p>
        <p>Está organizada por pasillos, lo que facilita que los Empresarios y Profesionales de Hostelería, puedan ver y palpar la mayoría los artículos y realizar sus propias compras  en vivo y en directo.</p>
        <p>Suministros Nerja ofrece Mayor Variedad, Mayor Surtido y Mejores Precios, todo ello lo convierte, en Proveedor de Hostelería Líder en la Provincia de Málaga</p>
    </div>
    <div class="column"> @* style="background-color:#96D1CD;">*@
        <img src="https://i.ibb.co/wsDpx8Z/sombrillas.jpg">
    </div>
    <div class="row"> @* style="background-color:#254769;">*@
        <p>¿Tienes alguna duda? Ponte en contacto con nosotros llamando al teléfono +34609X5X2X4.</p>
        <p>También nos puedes seguir en nuestra <a href="https://www.facebook.com/profile.php?id=100006156797853">página de Facebook</a>.</p>
    </div>
    <div class="column"> @* style="background-color:#AFB695;">*@
        <img src="https://i.ibb.co/KmcF9BQ/iglesia.jpg">
    </div>
    <div class="column"> @* style="background-color:#A6D1CD;">*@
        <img src="https://i.ibb.co/82RQBfZ/furgoneta.jpg">
    </div>
</div>

<a href="https://imgbb.com/"><img src="https://i.ibb.co/bzbQQRR/logo.jpg" alt="logo" border="0"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/s2t0FcQ/logoshort.jpg" alt="logoshort" border="0"></a>

<style>
    {
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    /* Set additional styling options for the columns*/
    .column {
        float: left;
        width: 50%;
    }

    .cabecera {
        height: 200px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

</style>

@code {


}
