@page "/usermainpage"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Syncfusion.Blazor.Notifications
@inject ProtectedLocalStorage LocalStorage
@inject IUsuarioService UsuarioService

<h3>UserMainPage</h3>

@code {

}
