@inherits LayoutComponentBase
@using Syncfusion.Blazor.Buttons

<PageTitle>TFG2022Server</PageTitle>

<style>
    .footer {
        padding-top: 32px;
        padding-left: 32px;
    }
</style>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
             <p><img src="~/../Shared/LogotipoSN.png"/> </p>  <h3> barra de buscar </h3> <button> Conectate? </button> <button> Carrito vacío? </button>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <div class="footer">
            <SfButton>La empresa 🏢</SfButton>
        </div>

    </main>
</div>
