@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using Syncfusion.Blazor.Buttons
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage LocalStorage
@inject IUsuarioService UsuarioService


<PageTitle>TFG2022Server</PageTitle>

<style>
    .footer {
        padding-top: 32px;
        padding-left: 32px;
    }
</style>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <p><img src="" /> </p>  <h3> barra de buscar </h3>
            @if (@storedUserEmail != null && @storedUser != null)
            {
                <SfButton @onclick="@(()=>NavigationManager.NavigateTo("/usermainpage"))">@storedUser.Nombre @storedUser.Apellidos</SfButton> <SfButton> Carrito vacío? </SfButton>
            }
            else
            {
                <SfButton @onclick="@(()=>NavigationManager.NavigateTo("/login"))">Login</SfButton> <SfButton> Carrito vacío? </SfButton>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>

        <div class="footer">
            <SfButton>La empresa 🏢</SfButton>
        </div>

    </main>
</div>

@code {
    string storedUserEmail = "";
    Usuario storedUser;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        var result = await LocalStorage.GetAsync<string>("user");
        await Task.Delay(2000);
        storedUserEmail = result.Success ? result.Value : null;
        if (storedUserEmail != null) storedUser = await UsuarioService.ReadUserbyEmail(storedUserEmail);
    }
}